.modal {
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    text-align: center;
    background-color: #fafafa;
    z-index: 90;
    position: fixed;
    overflow: hidden;
    overflow-y: hidden;
}

.modaltextBold {
    font-family: gorditamedium;
    padding-top: 4%;
    color: var(--base-two);
    z-index: 120;
    font-size: 19px;
}

.modalText {
    font-family: gorditaregular;
    color: var(--moorgate);
    z-index: 120;
}

.copyrightLogo {
    opacity: 0.5;
    height: 40px;
    width: 120px;
    background-image: url('./images/littlelogo2.svg');
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    background-size: contain;
    background-repeat: no-repeat;
}

.copyright {
    font-family: gorditaregular;
    color: var(--moorgate);
    opacity: 0.5;
    z-index: 120;
    font-size: 12px;
    padding-top: 12px;
}

.flightPreloader svg {
    /* width: 100%; */
    /* max-height: 100%; */
    position: absolute;
    top: -45vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    overflow: visible;
}

.flightPreloader svg path {
    fill-opacity: 1;
    stroke: #fff;
    stroke-width: 20;
    stroke-dasharray: 670;
    stroke-dashoffset: 670;
    stroke-linecap: round;
    animation: draw 2.5s infinite linear;
}

@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }

    0% {
        stroke-dashoffset: 1340;
    }
}

/* @media only screen and (min-width: 800px) {
    .modal {
        display: none;
    }
}

*/

.noPhone {
  width: 80%;
      background-image: url(./images/kirokuproduct1.gif);
      height: 400px;
      top: 20%;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 100;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid var(--enamel);
      border-radius: 3px;
      margin: 10%;
}

a {
  color: var(--galloway);
  text-decoration: none;
}

.illustration {
      width: 180px;
      background-image: url(./images/nophone.svg);
      height: 180px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 100;
      background-size: contain;
      background-repeat: no-repeat;
}
