.titleComponent {
  padding-left: 32px;
  border-bottom: none;
}

.titleComponent:hover {
  background: rgba(210,221,225,0.35);
  transition-timing-function: ease-in;
  transition: 0.2s
}

.titleComponent:first-child {
  border-bottom: 1px solid var(--hammersmith);
}

.trashTitle {
  background-image: url('./TrashTitleIcon/cross.svg');
  display: inline-block !important;
  background-repeat: no-repeat;
  width: 14px !important;
  height: 14px !important;
  margin-right: 16px !important;
  vertical-align: sub !important;
  cursor: pointer;
  opacity: 0.5 !important;
  transition-timing-function: ease-in !important;
  transition: 0.1s !important;
  float: right !important;
  margin-top: 24px !important;
}

.trashTitle:hover {
  opacity: 1 !important;
  transition-timing-function: ease-out !important;
  transition: 0.15s !important;
}
