.noteComponent {
    padding-bottom: 16px;
    padding-top: 16px;
    color: var(--moorgate);
    font-family: Gordita-Regular;
    font-size: 14px;
    letter-spacing: -0.125px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.noteComponent:hover {
  background: rgba(210,221,225,0.35);
  transition-timing-function: ease-in;
  transition: 0.2s;
  border-top: 1px solid var(--hammersmith);
  border-bottom: 1px solid var(--hammersmith);
}

.trashNote {
  background-image: url('./icon/cross.svg');
  display: inline-block;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  margin-left: 6px;
  vertical-align: sub;
  cursor: pointer;
  opacity: 0.5;
  transition-timing-function: ease-in;
  transition: 0.1s;
}

.trashNote:hover {
  opacity: 1;
  transition-timing-function: ease-out;
  transition: 0.25s;
}
