.noteComponent {
  padding-bottom: 16px;
  padding-top: 16px;
  color: #637282;
  font-family: Gordita-Regular;
  font-size: 14px;
  letter-spacing: -0.125px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: left;
  align-items: center;
}

.noteComponent:hover {
  background: rgba(210, 221, 225, 0.35);
  transition-timing-function: ease-in;
  transition: 0.2s;
  border-top: 1px solid var(--hammersmith);
  border-bottom: 1px solid var(--hammersmith);
}