.navBar {
    background: #FFFFFF;
    height: 40px;
    padding-left: 24px;
    padding-right: 48px;
    padding-top: 24px;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--hammersmith)
}

.kirokuLogo {
    background-image: url('./images/logo.svg');
    height: 34px;
    width: 105px;
    display: inline-block;
}

.navList {
    display: inline-block;
    float: right;
    padding-right: 24px;
    line-height: 35px;
    font-family: gorditamedium;
    font-size: 14px;
    color: #484848;
    letter-spacing: -0.08px;
    text-align: center;
}