.titleComponent {
    padding-left: 20px;
    border-bottom: 1px solid var(--hammersmith);
}

.trashTitle {
  background-image: url('./icon/cross.svg');
  display: inline-block !important;
  background-repeat: no-repeat;
  width: 14px !important;
  height: 14px !important;
  margin-right: 16px !important;
  vertical-align: sub !important;
  cursor: pointer;
  opacity: 0.5 !important;
  transition-timing-function: ease-in !important;
  transition: 0.1s !important;
  float: right !important;
  margin-top: 6px !important;
}

.trashTitle:hover {
  opacity: 1 !important;
  transition-timing-function: ease-out !important;
  transition: 0.15s !important;
}
