:root {
  --base-one: #FAFAFA;
  --base-two: #131313;
  --galloway: #007A87;
  --moorgate: #6A7F95;
  --finsbury: #005744;
  --enamel: #D2DDE1;
  --barray: #C5E8FF;
  --clinic: #5890FF;
  --hammersmith: #EEEEEE;
}

/* Link these to the pattern library */

@font-face {
  font-family: 'Gordita-Regular';
  src: url('./fonts/Gordita-Regular.woff') format('woff');
  /* Pretty Modern Browsers */
  font-family: 'Gordita-Bold';
  src: url('./fonts/Gordita-Bold.otf') format('otf');
  /* Pretty Modern Browsers */
  font-family: 'Gordita-Light';
  src: url('./fonts/Gordita-Light.otf') format('otf');
  /* Pretty Modern Browsers */
  font-family: 'Gordita-Medium';
  src: url('./fonts/Gordita-Medium.otf') format('otf')
    /* Pretty Modern Browsers */
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

body {
  background-color: var(--base-one) !important;
}

.noteButton {
  border: 1px solid var(--hammersmith);
  border-left: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: Gordita-Regular;
  font-size: 14px;
  color: var(--moorgate);
  letter-spacing: -0.125px;
  transition-timing-function: ease-out;
  transition: 0.25s;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
}

.noteButton {
}

.noteButton:first-child {
  border-left: 1px solid var(--hammersmith);
}

.noteButton:hover {
  background: var(--barray);
  cursor: pointer;
  color: var(--base-two);
  transition-timing-function: ease-in;
  transition: 0.25s;
  border: 1px solid var(--hammersmith);
  border-left: 0px;
  font-size: 14px;
}

.noteButton:first-child:hover {
  border-left: 1px solid var(--hammersmith);
}

.template {
  border: 1px solid var(--hammersmith);
  border-bottom: 0px;
  border-radius: 4px;
  width: 60%;
  text-align: center;
  min-height: 400px;
  margin-top: 40px;
  margin-left: 80px;
  margin-bottom: 80px;
  background-color: white;
  float: left;
}

.section {
  text-align: left;
  border-bottom: 1px solid var(--hammersmith);
  background-color: var(--enamel);
}

.section:first-child {
  text-align: left;
  border-bottom: none;
}

.section:nth-child(2) {
  border-bottom: none;
}

.titleWriting {
  position: relative;
  margin-left: 24px;
  min-width: 200px !important;
  display: inline-block;
  padding-bottom: 16px;
}

.note {
  padding-bottom: 16px;
  padding-top: 16px;
  font-family: Gordita-Regular;
  font-size: 14px;
  letter-spacing: -0.125px;
  /* border: 1px solid black; */
}

/* Removes the ugly blue line from content editable */

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.noteWriting {
  /* display: inline; */
  position: relative;
  left: 8px;
  min-width: 200px !important;
  display: inline-block;
  /* border: 1px solid black; */
}

.navBar {
  background: #FFFFFF;
  height: 40px;
  padding-left: 24px;
  padding-right: 48px;
  padding-top: 24px;
  padding-bottom: 22px;
  border-bottom: 1px solid var(--hammersmith)
}

.kirokuLogo {
  background-image: url('./images/logo.svg');
  height: 34px;
  width: 105px;
  display: inline-block;
}

.navList {
  display: inline-block;
  float: right;
  padding-right: 24px;
  line-height: 35px;
  font-family: Gordita-Medium;
  font-size: 14px;
  color: #484848;
  letter-spacing: -0.08px;
  text-align: center;
}

.signUp {
  display: inline-block;
  float: right;
}

.signupButton {
  background: var(--galloway);
  border-radius: 4px;
  font-family: Gordita-Medium;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  height: 36px;
  border: 0px;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
  transition-timing-function: ease-in;
  transition: 0.25s;
  cursor: pointer;
}

.signupButton:hover {
  background: var(--galloway);
  box-shadow: 0 4px 9px 0 rgba(0, 122, 135, 0.60);
  font-family: Gordita-Medium;
  font-size: 14px;
  transition-timing-function: ease-out;
  transition: 0.25s;
}

.cardConatiner {
  background: #FFFFFF;
  border: 1px solid var(--hammersmith);
  border-radius: 4px;
  padding-left: 48px;
  padding-right: 48px;
  width: 14%;
  height: 437px;
  float: right;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 80px;
  position: fixed;
  right: 0;
}

.cardImage {
  background-image: url('./images/card-image.svg');
  height: 180px;
  width: 207px;
  background-repeat: no-repeat;
  margin: auto;
}

.cardTitle {
  font-family: Gordita-Regular;
  font-size: 24px;
  color: #414141;
  letter-spacing: -0.25px;
  text-align: center;
  line-height: 30px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.cardParagraph {
  /* Kiroku lets you spen: */
  opacity: 0.75;
  font-family: Gordita-Regular;
  font-size: 16px;
  color: #414141;
  letter-spacing: -0.25px;
  text-align: center;
  line-height: 20px;
  padding-bottom: 24px;
}

.cardButton {
  /* Rectangle 7: */
  background: var(--clinic);
  border-radius: 4px;
  border-radius: 4px;
  font-family: Gordita-Medium;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  height: 40px;
  border: 0px;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: Gordita-Medium;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin: auto;
  width: 100%;
  margin-bottom: 56px;
  margin-bottom: 56px;
  transition-timing-function: ease-out;
  transition: 0.25s;
}

.cardButton:hover {
  /* Rectangle 7: */
  background: var(--clinic);
  box-shadow: 0 2px 9px 4px rgba(88, 144, 255, 0.30);
  transition-timing-function: ease-in;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px;
  font-family: Gordita-Medium;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  height: 40px;
  border: 0px;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: Gordita-Medium;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin: auto;
  width: 100%;
  margin-bottom: 56px;
}

.trashNote {}
