:root {
  --base-one: #FAFAFA;
  --base-two: #131313;
  --galloway: #007A87;
  --moorgate: #6A7F95;
  --finsbury: #005744;
  --enamel: #D2DDE1;
  --barray: #C5E8FF;
  --clinic: #5890FF;
  --hammersmith: #EEEEEE;
  --gelt: #FFB100;
  --iona: #00D1C1;
}

/* Link these to the pattern library */

/* @font-face {
  font-family: 'Gordita-Regular';
  src: url('./fonts/Gordita-Regular.ttf') format('ttf');
  font-family: 'Gordita-Bold';
  src: url('./fonts/Gordita-Bold.otf') format('otf');
  font-family: 'Gordita-Light';
  src: url('./fonts/Gordita-Light.otf') format('otf');
  font-family: 'Gordita-Medium';
  src: url('./fonts/Gordita-Medium.otf') format('otf');
}
*/

@font-face {
  font-family: 'gorditaregular';
  src: url('./fonts/gordita-regular-webfont.woff2') format('woff2'),
    url('./fonts/gordita-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gorditamedium';
  src: url('./fonts/gordita-medium-webfont.woff2') format('woff2'),
    url('./fonts/gordita-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

input,
textarea,
[contenteditable] {
  caret-color: var(--clinic);
  line-height: 18px;
}

body {
  background-color: #F7F9FA !important;
}

::selection {
  background: var(--iona);
  /* WebKit/Blink Browsers */
  color: var(--base-two);
}

.noteButton {
  border: 1px solid var(--hammersmith);
  background: #fafafa;
  border-left: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: gorditaregular;
  font-size: 14px;
  color: #1B2733;
  letter-spacing: -0.125px;
  transition-timing-function: ease-out;
  transition: 0.25s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.noteButton {}

.noteButton:first-child {
  border-left: 1px solid var(--hammersmith);
}

.noteButton:hover {
  background: var(--iona);
  cursor: pointer;
  color: var(--base-two);
  transition-timing-function: ease-in;
  transition: 0.25s;
  border: 1px solid var(--hammersmith);
  border-left: 0px;
  font-size: 14px;
}

.noteButton:first-child:hover {
  border-left: 1px solid var(--hammersmith);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.mainTitle {
  width: 60%;
  text-align: center;
  margin-top: 40px;
  margin-left: 80px;
  text-align: left;
  font-family: gorditamedium;
  font-size: 24px;
  color: #484848;
  letter-spacing: -0.25px;
  line-height: 30px;

}

.template {
  border: 1px solid #E6E8EB;
  border-bottom: 0px;
  border-radius: 4px;
  width: 60%;
  text-align: center;
  min-height: 400px;
  margin-top: 16px;
  margin-left: 80px;
  margin-bottom: 60px;
  background-color: white;
  float: left;
  -webkit-animation: fadein 0.8s cubic-bezier(0.4, 0.0, 0.2, 1);
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.8s cubic-bezier(0.4, 0.0, 0.2, 1);
  /* Firefox < 16 */
  -ms-animation: fadein 0.8s cubic-bezier(0.4, 0.0, 0.2, 1);
  /* Internet Explorer */
  -o-animation: fadein 0.8s cubic-bezier(0.4, 0.0, 0.2, 1);
  /* Opera < 12.1 */
  animation: fadein 0.8s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@keyframes fadein {
  0% {
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  100% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  100% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  100% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  100% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  100% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

@media only screen and (max-width: 1030px) {
  .template {
    width: 80%;
  }
}

.section {
  text-align: left;
  border-bottom: 1px solid var(--hammersmith);
}

.section:first-child {
  text-align: left;
  border-bottom: none;
}

.section:nth-child(2) {
  border-bottom: none;
}

.titleWriting {
  position: relative;
  margin-left: 24px;
  min-width: 200px !important;
  display: inline-block;
  padding-bottom: 16px;
}

.note {
  padding-bottom: 16px;
  padding-top: 16px;
  font-family: gorditaregular;
  font-size: 14px;
  letter-spacing: -0.125px;
  /* border: 1px solid black; */
}

/* Removes the ugly blue line from content editable */

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.noteWriting {
  /* display: inline; */
  position: relative;
  left: 8px;
  min-width: 200px !important;
  display: inline-block;
  /* border: 1px solid black; */
}

.navBar {
  background: #FFFFFF;
  height: 40px;
  padding-left: 24px;
  padding-right: 48px;
  padding-top: 24px;
  padding-bottom: 22px;
  border-bottom: 1px solid var(--hammersmith)
}

.kirokuLogo {
  background-image: url('./images/logo.svg');
  height: 34px;
  width: 105px;
  display: inline-block;
}

.navList {
  display: inline-block;
  float: right;
  padding-right: 24px;
  line-height: 35px;
  font-family: gorditamedium;
  font-size: 14px;
  color: #484848;
  letter-spacing: -0.08px;
  text-align: center;
}





.modal {
  width: 100vw;
  height: 100vh;
  padding-top: 45vh;
  text-align: center;
  background-color: var(--galloway);
  z-index: 90;
  position: fixed;
}

.modalText {
  font-family: gorditamedium;
  padding-top: 40vh;
  color: var(--hammersmith);
}

.flightPreloader svg {
  /* width: 100%; */
  /* max-height: 100%; */
  position: absolute;
  top: -45vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  overflow: visible;
}

.flightPreloader svg path {
  fill-opacity: 1;
  stroke: #fff;
  stroke-width: 20;
  stroke-dasharray: 670;
  stroke-dashoffset: 670;
  stroke-linecap: round;
  animation: draw 2.5s infinite linear;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }

  0% {
    stroke-dashoffset: 1340;
  }
}

@media only screen and (min-width: 800px) {
  .modal {
    display: none;
  }
}

.copyNotification {
  width: 60%;
  position: fixed;
  text-align: center;
  min-height: 60px;
  margin-left: 81px;
  background-color: var(--iona);
  float: left;
  z-index: 50;
  overflow: hidden;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: gorditamedium;
  font-size: 16px;
  letter-spacing: -0.12px;
  color: #fff;
  letter-spacing: 0;
  bottom: 60px;
  border: 1px solid var(--iona);
  transition-timing-function: ease-in;
  transition: 0.25s;
  animation-direction: alternate;
  -webkit-animation: fadeout alternate 1.8s cubic-bezier(0.4, 0.0, 0.2, 1);
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout alternate 1.8s cubic-bezier(0.4, 0.0, 0.2, 1);
  /* Firefox < 16 */
  -ms-animation: fadeout alternate 1.8s cubic-bezier(0.4, 0.0, 0.2, 1);
  /* Internet Explorer */
  -o-animation: fadeout alternate 1.8s cubic-bezier(0.4, 0.0, 0.2, 1);
  /* Opera < 12.1 */
  animation: fadeout alternate 1.8s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@media only screen and (max-width: 1030px) {
  .copyNotification {
    width: 80%;
  }
}

@keyframes fadeout {
  0% {
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  100% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  0% {
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  100% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  0% {
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  100% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  0% {
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  100% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  0% {
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  100% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

.icon {
  background-image: url('./icon/icon.svg');
  display: inline-block !important;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  margin-right: 8px !important;
  vertical-align: sub;
  overflow: hidden;
}

.icon2 {
  background-image: url('./icon/icon2.svg');
  display: inline-block !important;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  margin-left: 4px !important;
  vertical-align: middle;
  margin-top: 4px;
}