.title {
    position: relative;
    left: 5px;
    min-width: 90% !important;
    display: inline-block;
    padding-bottom: 0px;
    letter-spacing: -0.125px;
    color: var(--moorgate);
}

h3 {
  font-family: gorditaregular !important;
  font-weight: 400;
  font-size: 16px;
  color: #1B2733;
}
