.title {
    position: relative;
    left: 5px;
    min-width: 90% !important;
    display: inline-block;
    padding-bottom: 16px;
    letter-spacing: -0.125px;
    color: var(--moorgate);
}

h3 {
  font-family: Gordita-Regular !important;
}
